* {
	box-sizing: border-box;
}

html {
	max-width: 100vw;
	scroll-behavior: smooth;
}

@font-face {
	font-family: yekan;
	src: url(/yekan.ttf);
}

body {
	font-family: 'yekan';
	max-width: 100vw;
	position: relative;
	overflow-x: hidden;
	font-size: 16pt;
	background: rgb(250, 250, 250)
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer
}

p {
	direction: rtl;
	text-align: right;
}

input {
	direction: rtl
}

input:focus,
textarea:focus {
	outline: none
}

input::-webkit-input-placeholder {
	font-size: 15pt
}

.mainItemPerPage {
	grid-area: mainItemPerPage;
	max-width: 100%;
}

.main {
	grid-area: main;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.mainWrapper {
	width: 100%;
	display: flex;
	justify-content: center;

}

.shouldCollapse {
	width: 93% !important
}

.mainItemPerPage {
	margin-top: 20px;
}

#navigation {
	grid-area: navigation
}

#header {
	grid-area: header
}

#slicer {
	grid-area: slicer
}

input {
	font-size: 14pt;
	font-family: 'yekan';
}

a:hover {
	cursor: pointer
}

button:hover {
	cursor: pointer
}


.userPanelComp {
	border: 1px solid rgb(180, 180, 180);
	margin-top: 20px
}

select:focus {
	outline: none
}

.wrong {
	border: 1px solid rgb(247, 29, 29) !important;
}

.correct {
	border: 1px solid rgb(68, 255, 44) !important;
}

.inputError {
	color: rgb(206, 30, 30) !important;
	font-size: 13pt;
	margin-top: 5px;
	visibility: hidden;
}

.maxIs {
	max-width: 1500px !important;
}


.formInputsWrapper {
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.inputWithLabelThatShouldStay:focus+label.comeUpLabel,
label.stay {
	animation: changeLabel 0.5s linear;
	position: absolute;
	top: 2px;
	color: #139dd7 !important;
	font-size: 12pt
}


.inputWithLabelThatShouldStay {
	border: 1px solid rgba(204, 203, 203, 0.918);
	border-radius: 5px;
	padding: 1em 1em 0.8em 1em;
	color: black;
	direction: ltr;
}

.inputWithLabelThatShouldStay+label {
	display: block;
	cursor: text;
	color: #777;
	transition: .15s ease-out all;
	position: absolute;
	right: 1em;
}