</div>
</div>
			<foot></foot>
		</div>


		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			   crossorigin=""></script>
			   


		<!-- <script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPPgNIF3bBvxFjvuuQTQkv234BwiYNCsY&callback=initMap">
		</script> -->
		 <!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>-->
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		 <!-- <script type="application/javascript" src="/userPanelApp.js"></script> -->
		<script type="application/javascript"  src="/userScript.js"></script>
		
		 <script defer> 
			window.onload=()=>{
					dodo()
					showCats()
					window.addEventListener("resize",dodo)
					window.addEventListener("resize",showCats)
					function dodo(){

						const lis=document.querySelectorAll(".parentLi")
						lis.forEach(li=>{
							const bound=getComputedStyle(li)
							const subMenu=li.querySelector(".subMenu")
							subMenu.style.left=bound.width
						})
					}
					function showCats(){
						const href=window.location.pathname
						if(window.innerWidth>801 && href.length>1){
							const el=document.querySelector("#allCategories")
							el.style.display='block'
						}
					}
			}
			
		</script>
		
	</body>

</html>